<li ng-class="{true: 'active'}[selectedItem.name == 'tdsuiHome' || selectedItem.name == 'tdsuiDetail']" ng-click="">
  <a id="tdsuiHome" href="#/tdsui/home/"><i class="fa fa-lg fa-fw fa-home"></i>Home</a>
</li>
<li ng-class="{true: 'active'}[selectedItem.name == 'tdsuiAdmin']" ng-click="">
  <a id="tdsuiAdmin" href="#/tdsui/admin"><i class="fa fa-lg fa-fw fa-cog"></i>Administrator</a>
</li>

<li ng-class="{true: 'active'}[selectedItem.name == 'tdsuiTest']" ng-click="">
  <a id="tdsuiTest" href="#/tdsui/test"><i class="fa fa-lg fa-fw fa-cog"></i>Test</a>
</li>