<div ng-controller="tdsuiCtrl" class="tds-root">

  <!-- <div class="row ng-class: isLoading?'loading':'';"></div> -->
  
  <div ui-view class="container-fluid tds-view">{{welcome}}</div>

  <!--
  <div id="navigator" class="row">
      <ol class="breadcrumb no-margin-bottom" style="background-color:inherit">
        <li ng-repeat="item in navigators">
          <a ng-if="item.href != undefined" href="{{item.href}}">{{item.label}}</a>
          <span ng-if="item.href == undefined">{{item.label}}</span>
        </li>
      </ol>
  </div>
  -->
  
</div>