@import 'library';

.app.classic {

	&.tdsui, .tdsui {

		.tooltip-inner {
			text-align: left;
			max-width: 350px;

			a {
				&:link {
					color: yellow;
				}
				&:visited {
					color: green;
				}
			}
		}

		.mark-canvas {
			background: rgba(0,0,0,.5);

			& > .indicator {
				background: transparent url('images/ajax-loader.gif') no-repeat;
			}
		}

		.tds-view {
			padding: 5px;
		}

		.tds-home-panel {
			position: relative;

			& > .panel-heading {
				position: relative;
				//overflow: hidden;
				
				.panel-title.pull-left {
					margin-left: 10px;
					margin-right: 5px;
				}
				.panel-title.pull-right {
					margin-left: 10px;
				}

				.bg-danger {
					background-color: red;
				}
			}

			& > .panel-body {
				padding: 5px;

				& > .tds-home-detail-panel {
					border: 1px solid lightgray;
					border-radius: 5px;
					
					& > .panel-heading {
						position: relative;
						border-bottom: 1px solid gray;

						.input-sm {
							height: 20px;
							min-width: 250px;
							padding: 2px 5px;
							border-radius: 2px;
						}

						.pull-right {
							margin-left: 10px;
						}
					}

					& > #detail-grid {
						min-height: 300px;
						padding: 0px;
						//border-top: 1px solid gray;
						& .slick-headerrow {
							overflow: hidden !important;
						}

						.warning {
							background: url("./images/warning.png") no-repeat center;
							width: 100%;
							height: 16px;
							display: block;
							margin-top: 3px;
							cursor: pointer;
						}

						.changed {
							color: red;
							font-weight: bold;
						}

						.hightlight {
							background: pink;
						}
					}
				}
			}

			.dropdown-menu {
				min-width : 100%;
				.jstree {
					height: auto;
					max-height: 400px;
				}
				overflow-y: auto;
				
				& > div > div > div {
					padding: 10px 10px 0px;
				}
			}
		}

    	.logo {
    		& > div {
				background: url("images/logo.png") no-repeat center;
				background-size: contain;
				width: 40px;
				height: 40px;
				margin-left: -5px;
				margin-top: 5px;
			}
	    }
	}
}